@import "tailwindcss";
@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* background-color: transparent; */
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.7);
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Add these for the 3D flip effect */
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}